%nav
  %ul
    %li= link_to "Events list", events_path
    %li= link_to "New Event", new_user_path
    %li= link_to "New Brand", new_brand_path
    %li= link_to "New Service Type", new_service_type_path
    %li= link_to "New Car Model", new_car_model_path