= simple_form_for( [@client, @event] ) do |f|
  = f.error_notification

  .form-inputs
    = f.input :start_date
    = f.input :end_date
    / = f.input :status
    = f.simple_fields_for :car do |car|
      .input-append.color{:data => { "color-format" => "rgb" }}
        = car.text_field :color, :readonly => true
        %span.add-on
          %i
      = car.input :number
      = car.input :fuel
      = car.input :engine_size
      = car.input :year
      = car.input :brand do
        = select_tag :brand_id, "<option value=''>Choose a Brand</option>".html_safe + options_for_select(@brands.map {|brand| [brand.name, brand.id] })
      = car.input :car_model do
        = car.grouped_collection_select :car_model_id, @brands, :car_models, :name, :id, :name, include_blank: "Choose a Car Model"
    = f.input :service_tokens, data: { load: @event.service_types }

  .form-actions
    = f.button :submit
