= simple_form_for( [@client, @event] ) do |f|
  = f.error_notification

  .form-inputs
    = f.input :start_date
    = f.input :end_date
    / = f.input :status
    = f.simple_fields_for :car do |car|
      .input-append.color{:data => { "color-format" => "rgb" }}
        = car.text_field :color, :readonly => true
        %span.add-on
          %i
      = car.input :number
      = car.input :fuel
      = car.input :engine_size
      = car.input :year
      = car.association :car_model, :collection => @models, :prompt => "Choose a Car Model you mother fucker!!!"
    = f.input :service_tokens, data: { load: @event.service_types }

  .form-actions
    = f.button :submit
