= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :start_date
    = f.input :end_date
    / = f.input :status
    / = f.input :client_id
    = f.simple_fields_for :car do |car| 
      = car.input :color
      = car.input :number
      = car.input :fuel
      = car.input :engine_size
      = car.input :year
      = car.association :car_model, :collection => @models, :prompt => "Choose a Car Model you mother fucker!!!"
    = f.input :service_tokens
    / = f.input :created_by

  .form-actions
    = f.button :submit
