%p#notice= notice

%p
  %b Start date:
  = @event.start_date
%p
  %b End date:
  = @event.end_date
%p
  %b Status:
  = @event.status
%p
  %b Client:
  = @event.user.name
%p
  %b Car:
  = @event.car
%p
  %b Created by:
  = @event.created_by
%p
  %b Assigned to:
  = @event.assignee.try(:name)

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
